package footer

templ Footer() {
    <footer>
        <nav>
            <ul>
                <li><a href="/privacy">privacy notice</a></li>
                <li><a href="/tos">terms of service</a></li>
                <li><a href="/attrib">sources and attribution</a></li>
                <li><a href="/resume">resume</a></li>
                <li><a href="/contact">contact me</a></li>
            </ul>
        </nav>
    </footer>
}