package projects

templ ProjectPage(projects []Project) {
    <div class="grid">
        <div>
            @ProjectCard(project)
        </div>
        <div>
            @ProjectCard(project)
        </div>
        <div>
            @ProjectCard(project)
        </div>
    </div>
}
